.about {
    background: #4B4B4B;
    color: #fff;
}

.about-title {
    display: flex;
    justify-content: end;
    position: relative;
}

.about-title__text-position {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 150px;
    opacity: 0.3;
    right: -83px;
    bottom: 77px;
    z-index: 99;
}

.about-title__text {
    margin-top: 65px;
    padding-bottom: 85px;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 90px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 110px;
}

.about-photo-content-item {
    max-width: 480px;
    min-height: 100px;
    margin-bottom: 85px;
    border-left: 7px solid #DBB11B;
}

.about-wrap-photo__img-adptive {
    display: none;
}

.about-photo-content-item__text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}

.about-decor {
    color: #DBB11B;
}

@media (max-width: 1250px) {
    .about-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .about-wrap-photo__img {
        display: none;
    }

    .about-photo-content {
        position: relative;
    }

    .about-wrap-photo__img-adptive {
        position: absolute;
        right: 0;
        display: block;
    }
}

@media (max-width: 660px) {
    .about-title__text-position {
        font-size: 90px;
    }

    .about-title__text {
        font-size: 45px;
    }

    .about-photo-content-item__text {
        font-size: 20px;
    }
}

@media (max-width: 520px) {
    .about-title {
        translate: X(50%);
        justify-content: left;
    }
}

@media (max-width: 358px) {
    .about-title__text-position {
        bottom: 20px;
    }
}