.greeting {
    border-top: 1px solid #383838;
    position: relative;
}

.greeting-background-logo {
    position: absolute;
    width: 447px;
    top: 30px;
}

.greeting-wrap {
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

.greeting-wrap-photo__img-adptive {
    display: none;
}

.greeting-wrap-content {
    max-width: 635px;
    position: relative;
}

.greeting-wrap-content-bk-arrow {
    position: absolute;
    bottom: 205px;
    left: 210px;

}

.greeting-wrap-content__title {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 90px;
    padding-bottom: 105px;
    margin-left: 50px;
    margin-top: 30px;
}

.greeting-wrap-content__subtitle {
    max-width: 725px;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    color: #383838;
    padding-bottom: 200px;
}

.greeting-decor {
    color: #428260;
}

.greeting-wrap-content__btn {
    background: #428260;
    border-radius: 1px;
    padding: 15px 105px 15px 105px;
    margin-left: 170px;
}

.greeting-wrap-content__btn-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 19px;
    color: #fff;
}

@media (max-width: 1230px) {
    .greeting-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 920px) {
    .greeting-wrap {
        position: relative;
    }

    .greeting-wrap-photo {
        position: absolute;
        top: 73px;
        right: 0;
        z-index: 0;
    }
}

@media (max-width: 660px) {
    .greeting-wrap-photo__img {
        display: none;
    }

    .greeting-wrap-photo__img-adptive {
        display: block;
    }

    .greeting-wrap-content__subtitle {
        max-width: 265px;
        font-size: 20px;
    }

    .greeting-wrap-content__title {
        font-size: 45px;
    }

    .greeting-background-logo {
        width: 200px;
        top: 60px;
    }

    .greeting-wrap-content-bk-arrow {
        width: 80px;
        top: 260px;
        left: 150px;
    }

    .greeting-wrap-content__btn {
        margin-left: 0px;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .greeting-wrap-content-block {
        width: 100%;
    }
}